.footer-content{
    text-align: center;
    font-size: small;
}
.footer-bottom{
    text-align: center;
    margin: 0px 0px 0px 0px !important;
    padding: 0px 0px 0px 0px !important;
    font-size: small;
}
.footer-content .logoMe{
    color: dodgerblue;
    font-size: medium;
    font-weight: bold;
    font-family: 'Merienda', cursive;
}
.meHeart {
    /* font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 48 !important; */
    vertical-align: bottom !important;
}
.meHeart.pulse {
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
      font-variation-settings: 'FILL' 1, 'wght' 100;
    }
    50% {
      font-variation-settings: 'FILL' 1, 'wght' 600;
    }
    100% {
      font-variation-settings: 'FILL' 1, 'wght' 100;
    }
}
