<div class="container" ng-init="assignCpBasedOnTime()">
  <div class="row">
    <div class="col l8 m10 s12 offset-l2 offset-m1">
      <div class="card up_card" ng-show="updatePagePreloader_Submit">
        <div class="card-content white-text">
          <input type="text" class="datepicker card-title center up_date" ng-change="datechange()" ng-model="date">
        </div>
        <div ng-show="cp==1">
          <div class="up_period_disp">Period 1</div>
          <span class="up_abs_span">Absentees</span>
          <input class="up_input_ads" type="text" ng-model="absentees">
          <span class="up_abs_span">On-Duty</span>
          <input class="up_input_ads" type="text" ng-model="od">
        </div>
        <div ng-show="cp==2">
          <div class="up_period_disp">Period 2</div>
          <span class="up_abs_span">Absentees</span>
          <input class="up_input_ads" type="text" ng-model="absentees">
          <span class="up_abs_span">On-Duty</span>
          <input class="up_input_ads" type="text" ng-model="od">
        </div>
        <div ng-show="cp==3">
          <div class="up_period_disp">Period 3</div>
          <span class="up_abs_span">Absentees</span>
          <input class="up_input_ads" type="text" ng-model="absentees">
          <span class="up_abs_span">On-Duty</span>
          <input class="up_input_ads" type="text" ng-model="od">
        </div>
        <div ng-show="cp==4">
          <div class="up_period_disp">Period 4</div>
          <span class="up_abs_span">Absentees</span>
          <input class="up_input_ads" type="text" ng-model="absentees">
          <span class="up_abs_span">On-Duty</span>
          <input class="up_input_ads" type="text" ng-model="od">
        </div>
        <div ng-show="cp==5">
          <div class="up_period_disp">Period 5</div>
          <span class="up_abs_span">Absentees</span>
          <input class="up_input_ads" type="text" ng-model="absentees">
          <span class="up_abs_span">On-Duty</span>
          <input class="up_input_ads" type="text" ng-model="od">
        </div>
        <div ng-show="cp==6">
          <div class="up_period_disp">Period 6</div>
          <span class="up_abs_span">Absentees</span>
          <input class="up_input_ads" type="text" ng-model="absentees">
          <span class="up_abs_span">On-Duty</span>
          <input class="up_input_ads" type="text" ng-model="od">
        </div>
        <div ng-show="cp==7">
          <div class="up_period_disp">Period 7</div>
          <span class="up_abs_span">Absentees</span>
          <input class="up_input_ads" type="text" ng-model="absentees">
          <span class="up_abs_span">On-Duty</span>
          <input class="up_input_ads" type="text" ng-model="od">
        </div>
        <div ng-show="cp==8">
          <div class="up_period_disp">Period 8</div>
          <span class="up_abs_span">Absentees</span>
          <input class="up_input_ads" type="text" ng-model="absentees">
          <span class="up_abs_span">On-Duty</span>
          <input class="up_input_ads" type="text" ng-model="od">
        </div>
        <div class="row up_submit">
          <a class="btn center" ng-click="submit()">Submit</a>
        </div>
      </div>
      <div class="row center up_preloader_row" ng-hide="updatePagePreloader_Submit">
        <div class="preloader-wrapper small active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>

          <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row center">
    <div class="col l6 m6 s7">
      <a class='dropdown-trigger btn center' data-target='dropdown1' target="_blank">Change Period</a>
    </div>
    <div class="col l6 m6 s5">
      <a class="btn center" ng-click="gotohome()">Home</a>
    </div>
  </div>

  <ul id='dropdown1' class='dropdown-content'>
    <li><a ng-click="changeperiod(1)">1</a></li>
    <li><a ng-click="changeperiod(2)">2</a></li>
    <li><a ng-click="changeperiod(3)">3</a></li>
    <li><a ng-click="changeperiod(4)">4</a></li>
    <li><a ng-click="changeperiod(5)">5</a></li>
    <li><a ng-click="changeperiod(6)">6</a></li>
    <li><a ng-click="changeperiod(7)">7</a></li>
    <li><a ng-click="changeperiod(8)">8</a></li>
  </ul>
</div>